USE [master]
GO
/****** Object:  Database [QLCHBH]    Script Date: 6/23/2023 3:06:09 PM ******/
CREATE DATABASE [QLCHBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCHBH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.OWNER\MSSQL\DATA\QLCHBH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCHBH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.OWNER\MSSQL\DATA\QLCHBH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCHBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCHBH]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](20) NOT NULL,
	[CMND] [nvarchar](15) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[MAPB] [nvarchar](20) NOT NULL,
	[ANH] [nchar](255) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_GET_INFORMATION_ACCOUNT]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_GET_INFORMATION_ACCOUNT]
AS
	SELECT * FROM NHANVIEN
	WHERE MANV = (SELECT NAME FROM sys.sysusers WHERE sid = SUSER_SID(SUSER_NAME()));
 
GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAYCHAMCONG] [date] NOT NULL,
	[GIOVAO] [time](7) NOT NULL,
	[GIORA] [time](7) NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[IDLLV] [int] NOT NULL,
	[MANV] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CHAMCONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_LICHLAMVIEC]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_LICHLAMVIEC](
	[MANV] [nvarchar](20) NOT NULL,
	[IDLLV] [int] NOT NULL,
 CONSTRAINT [PK_CT_LICHLAMVIEC] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[IDLLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_LUONG]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_LUONG](
	[MANV] [nvarchar](20) NOT NULL,
	[BACLUONG] [int] NOT NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[LUONGTHUCNHAN] [money] NOT NULL,
	[PHUCAP] [money] NOT NULL,
 CONSTRAINT [PK_CT_LUONG] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[BACLUONG] ASC,
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_TB]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_TB](
	[MANV] [nvarchar](20) NOT NULL,
	[IDTB] [int] NOT NULL,
 CONSTRAINT [PK_CT_TB] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[IDTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_XUPHAT]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_XUPHAT](
	[IDMD] [int] NOT NULL,
	[MANV] [nvarchar](20) NOT NULL,
	[THOIGIANXUPHAT] [datetime] NOT NULL,
 CONSTRAINT [PK_CT_XUPHAT] PRIMARY KEY CLUSTERED 
(
	[IDMD] ASC,
	[MANV] ASC,
	[THOIGIANXUPHAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONGLAODONG]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONGLAODONG](
	[MAHDLD] [nvarchar](20) NOT NULL,
	[NGAYBATDAU] [date] NOT NULL,
	[NGAYKETTHUC] [date] NOT NULL,
	[MANV] [nvarchar](20) NOT NULL,
	[BACLUONG] [int] NULL,
 CONSTRAINT [PK_HOPDONGLAODONG] PRIMARY KEY CLUSTERED 
(
	[MAHDLD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHLAMVIEC]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHLAMVIEC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAM] [date] NOT NULL,
	[GIOBATDAU] [time](7) NOT NULL,
	[GIOKETTHUC] [time](7) NOT NULL,
	[MANQL] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LICHLAMVIEC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[BACLUONG] [int] IDENTITY(1,1) NOT NULL,
	[LUONGCOBAN] [money] NOT NULL,
	[SOGIOCANLAM] [int] NULL,
 CONSTRAINT [PK_LUONG] PRIMARY KEY CLUSTERED 
(
	[BACLUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUCDO]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUCDO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDQD] [int] NOT NULL,
	[TENMUCDO] [nvarchar](50) NOT NULL,
	[TIENPHAT] [money] NOT NULL,
 CONSTRAINT [PK_XUPHAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPB] [nvarchar](20) NOT NULL,
	[TENPB] [nvarchar](50) NOT NULL,
	[MOTACONGVIEC] [nvarchar](50) NOT NULL,
	[MANQL] [nvarchar](20) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MAPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYDINH]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYDINH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENQD] [nvarchar](50) NOT NULL,
	[MOTA] [ntext] NOT NULL,
	[MANQL] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_QUYDINH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MAQUYEN] [nvarchar](10) NOT NULL,
	[TENQUYEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_QUYENHAN] PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTK] [nvarchar](10) NOT NULL,
	[MATKHAU] [nvarchar](100) NOT NULL,
	[MAQUYEN] [nvarchar](10) NOT NULL,
	[MANV] [nvarchar](20) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGBAO]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTB] [date] NOT NULL,
	[NOIDUNG] [nvarchar](255) NOT NULL,
	[MANQL] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_THONGBAO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHAMCONG] ON 

INSERT [dbo].[CHAMCONG] ([ID], [NGAYCHAMCONG], [GIOVAO], [GIORA], [TRANGTHAI], [IDLLV], [MANV]) VALUES (1, CAST(N'2023-03-12' AS Date), CAST(N'09:45:48' AS Time), CAST(N'09:46:01' AS Time), N'Về sớm', 3, N'NV01')
INSERT [dbo].[CHAMCONG] ([ID], [NGAYCHAMCONG], [GIOVAO], [GIORA], [TRANGTHAI], [IDLLV], [MANV]) VALUES (2, CAST(N'2023-03-12' AS Date), CAST(N'09:47:54' AS Time), CAST(N'09:48:00' AS Time), N'Về sớm', 4, N'NV01')
INSERT [dbo].[CHAMCONG] ([ID], [NGAYCHAMCONG], [GIOVAO], [GIORA], [TRANGTHAI], [IDLLV], [MANV]) VALUES (3, CAST(N'2023-03-12' AS Date), CAST(N'11:37:24' AS Time), CAST(N'11:37:33' AS Time), N'Đi trễ, Về sớm', 3, N'NV2')
SET IDENTITY_INSERT [dbo].[CHAMCONG] OFF
GO
INSERT [dbo].[CT_LICHLAMVIEC] ([MANV], [IDLLV]) VALUES (N'NV01', 3)
INSERT [dbo].[CT_LICHLAMVIEC] ([MANV], [IDLLV]) VALUES (N'NV01', 4)
INSERT [dbo].[CT_LICHLAMVIEC] ([MANV], [IDLLV]) VALUES (N'NV01', 13)
GO
INSERT [dbo].[CT_LUONG] ([MANV], [BACLUONG], [THANG], [NAM], [LUONGTHUCNHAN], [PHUCAP]) VALUES (N'NV10', 1, 3, 2023, 104000.0000, 0.0000)
INSERT [dbo].[CT_LUONG] ([MANV], [BACLUONG], [THANG], [NAM], [LUONGTHUCNHAN], [PHUCAP]) VALUES (N'NV2', 1, 3, 2023, 67500.0000, 0.0000)
INSERT [dbo].[CT_LUONG] ([MANV], [BACLUONG], [THANG], [NAM], [LUONGTHUCNHAN], [PHUCAP]) VALUES (N'NV3', 1, 3, 2023, 187500.0000, 0.0000)
GO
INSERT [dbo].[CT_TB] ([MANV], [IDTB]) VALUES (N'NV10', 14)
INSERT [dbo].[CT_TB] ([MANV], [IDTB]) VALUES (N'NV10', 15)
INSERT [dbo].[CT_TB] ([MANV], [IDTB]) VALUES (N'NV10', 17)
GO
INSERT [dbo].[CT_XUPHAT] ([IDMD], [MANV], [THOIGIANXUPHAT]) VALUES (1, N'NV10', CAST(N'2023-05-29T12:16:00.000' AS DateTime))
INSERT [dbo].[CT_XUPHAT] ([IDMD], [MANV], [THOIGIANXUPHAT]) VALUES (1, N'NV11', CAST(N'2023-03-15T21:44:00.000' AS DateTime))
INSERT [dbo].[CT_XUPHAT] ([IDMD], [MANV], [THOIGIANXUPHAT]) VALUES (1, N'NV2', CAST(N'2023-03-12T11:33:00.000' AS DateTime))
GO
INSERT [dbo].[HOPDONGLAODONG] ([MAHDLD], [NGAYBATDAU], [NGAYKETTHUC], [MANV], [BACLUONG]) VALUES (N'HDLD01', CAST(N'2023-03-01' AS Date), CAST(N'2024-03-12' AS Date), N'NV01', 1)
INSERT [dbo].[HOPDONGLAODONG] ([MAHDLD], [NGAYBATDAU], [NGAYKETTHUC], [MANV], [BACLUONG]) VALUES (N'HDLD10', CAST(N'2023-06-23' AS Date), CAST(N'2024-06-23' AS Date), N'NV15', 1)
INSERT [dbo].[HOPDONGLAODONG] ([MAHDLD], [NGAYBATDAU], [NGAYKETTHUC], [MANV], [BACLUONG]) VALUES (N'HDLD11', CAST(N'2023-06-23' AS Date), CAST(N'2024-06-23' AS Date), N'NV16', 1)
GO
SET IDENTITY_INSERT [dbo].[LICHLAMVIEC] ON 

INSERT [dbo].[LICHLAMVIEC] ([ID], [NGAYLAM], [GIOBATDAU], [GIOKETTHUC], [MANQL]) VALUES (1, CAST(N'2023-03-12' AS Date), CAST(N'13:00:00' AS Time), CAST(N'14:00:00' AS Time), N'NV01')
INSERT [dbo].[LICHLAMVIEC] ([ID], [NGAYLAM], [GIOBATDAU], [GIOKETTHUC], [MANQL]) VALUES (2, CAST(N'2023-03-12' AS Date), CAST(N'15:00:00' AS Time), CAST(N'17:00:00' AS Time), N'NV01')
INSERT [dbo].[LICHLAMVIEC] ([ID], [NGAYLAM], [GIOBATDAU], [GIOKETTHUC], [MANQL]) VALUES (3, CAST(N'2023-03-12' AS Date), CAST(N'10:00:00' AS Time), CAST(N'12:00:00' AS Time), N'NV01')
SET IDENTITY_INSERT [dbo].[LICHLAMVIEC] OFF
GO
SET IDENTITY_INSERT [dbo].[LUONG] ON 

INSERT [dbo].[LUONG] ([BACLUONG], [LUONGCOBAN], [SOGIOCANLAM]) VALUES (1, 5000000.0000, 240)
INSERT [dbo].[LUONG] ([BACLUONG], [LUONGCOBAN], [SOGIOCANLAM]) VALUES (2, 7000000.0000, 270)
INSERT [dbo].[LUONG] ([BACLUONG], [LUONGCOBAN], [SOGIOCANLAM]) VALUES (3, 9000000.0000, 300)
SET IDENTITY_INSERT [dbo].[LUONG] OFF
GO
SET IDENTITY_INSERT [dbo].[MUCDO] ON 

INSERT [dbo].[MUCDO] ([ID], [IDQD], [TENMUCDO], [TIENPHAT]) VALUES (1, 1, N'Nhẹ', 0.0000)
INSERT [dbo].[MUCDO] ([ID], [IDQD], [TENMUCDO], [TIENPHAT]) VALUES (2, 1, N'Nặng', 100000.0000)
INSERT [dbo].[MUCDO] ([ID], [IDQD], [TENMUCDO], [TIENPHAT]) VALUES (3, 2, N'Nhẹ', 30000.0000)
SET IDENTITY_INSERT [dbo].[MUCDO] OFF
GO
INSERT [dbo].[NHANVIEN] ([MANV], [CMND], [HO], [TEN], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [EMAIL], [MAPB], [ANH]) VALUES (N'NV01', N'231491376', N'Nguyễn Trần Tấn', N'Quy', CAST(N'2002-01-04' AS Date), N'Nam', N'97 Man Thiện', N'0912345678   ', N'quyglpk12@gmail.com', N'CSKH', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [CMND], [HO], [TEN], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [EMAIL], [MAPB], [ANH]) VALUES (N'NV10', N'123456788', N'Nguyễn ', N'B', CAST(N'2002-01-12' AS Date), N'Nam', N'97ManThien', N'0912345678', N'quyglpk12@gmail.com', N'CSKH', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [CMND], [HO], [TEN], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [EMAIL], [MAPB], [ANH]) VALUES (N'NV11', N'123456787', N'Nguyễn Thị', N'Nữ', CAST(N'2002-01-01' AS Date), N'Nam', N'97 Man Thiện', N'0912345678', N'quyglpk12@gmail.com', N'CSKH', NULL)
GO
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [MOTACONGVIEC], [MANQL]) VALUES (N'BT', N'Bảo trì', N'Bảo trì xe máy', N'NV9')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [MOTACONGVIEC], [MANQL]) VALUES (N'CSKH', N'Chăm sóc khách hàng', N'Chăm sóc khách hàng tận tâm chu đáo', N'NV01')
INSERT [dbo].[PHONGBAN] ([MAPB], [TENPB], [MOTACONGVIEC], [MANQL]) VALUES (N'KT', N'Kế toán', N'Tính toán lương', N'NV5')
GO
SET IDENTITY_INSERT [dbo].[QUYDINH] ON 

INSERT [dbo].[QUYDINH] ([ID], [TENQD], [MOTA], [MANQL]) VALUES (1, N'Tác phong khi đi làm', N'Ăn mặc lịch sự đúng quy chuẩn của cửa hàng', N'NV01')
INSERT [dbo].[QUYDINH] ([ID], [TENQD], [MOTA], [MANQL]) VALUES (2, N'Giờ giấc làm việc', N'Đi làm đúng giờ', N'NV01')
INSERT [dbo].[QUYDINH] ([ID], [TENQD], [MOTA], [MANQL]) VALUES (3, N'Chấm công', N'Đi làm phải chấm công đầy đủ 2 lần, nếu không chấm công sẽ không được tính lương ngày đó', N'NV01')
SET IDENTITY_INSERT [dbo].[QUYDINH] OFF
GO
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (N'A', N'Admin')
INSERT [dbo].[QUYEN] ([MAQUYEN], [TENQUYEN]) VALUES (N'E', N'Employee')
GO
INSERT [dbo].[TAIKHOAN] ([TENTK], [MATKHAU], [MAQUYEN], [MANV], [TRANGTHAI]) VALUES (N'EMPNV01', N'$2a$10$UiQz79FqRDaRRoCzIAhcYuCfRBt.r0Z7JrBt9YHDk74LNrfqy8NgO', N'A', N'NV01', 1)
INSERT [dbo].[TAIKHOAN] ([TENTK], [MATKHAU], [MAQUYEN], [MANV], [TRANGTHAI]) VALUES (N'EMPNV10', N'$2a$12$kLFl2zPPGqOjoIOya3qSt.VelEioChNL0TkiO1kZVYLlFFVN8inGq', N'E', N'NV10', 1)
INSERT [dbo].[TAIKHOAN] ([TENTK], [MATKHAU], [MAQUYEN], [MANV], [TRANGTHAI]) VALUES (N'EMPNV11', N'$2a$12$kLFl2zPPGqOjoIOya3qSt.VelEioChNL0TkiO1kZVYLlFFVN8inGq', N'E', N'NV11', 1)
GO
SET IDENTITY_INSERT [dbo].[THONGBAO] ON 

INSERT [dbo].[THONGBAO] ([ID], [NGAYTB], [NOIDUNG], [MANQL]) VALUES (11, CAST(N'2023-03-12' AS Date), N'Bạn đã vi phạm quy định với tên Tác phong khi đi làm ngày Sun Mar 12 11:33:00 ICT 2023', N'NV01')
INSERT [dbo].[THONGBAO] ([ID], [NGAYTB], [NOIDUNG], [MANQL]) VALUES (12, CAST(N'2023-03-12' AS Date), N'Chúc các bạn làm việc vui vể, ngày mới gặp nhiều may mắn', N'NV01')
INSERT [dbo].[THONGBAO] ([ID], [NGAYTB], [NOIDUNG], [MANQL]) VALUES (13, CAST(N'2023-03-12' AS Date), N'Bạn đã vi phạm quy định với tên Giờ giấc làm việc ngày Sun Mar 12 17:37:00 ICT 2023 với số tiền phạt là 30000 VND', N'NV01')
SET IDENTITY_INSERT [dbo].[THONGBAO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CMND]    Script Date: 6/23/2023 3:06:10 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [UK_CMND] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TENPB_PB]    Script Date: 6/23/2023 3:06:10 PM ******/
ALTER TABLE [dbo].[PHONGBAN] ADD  CONSTRAINT [IX_TENPB_PB] UNIQUE NONCLUSTERED 
(
	[TENPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_PHONGBAN]    Script Date: 6/23/2023 3:06:10 PM ******/
ALTER TABLE [dbo].[PHONGBAN] ADD  CONSTRAINT [UK_PHONGBAN] UNIQUE NONCLUSTERED 
(
	[MANQL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENQUYEN_QUYEN]    Script Date: 6/23/2023 3:06:10 PM ******/
ALTER TABLE [dbo].[QUYEN] ADD  CONSTRAINT [UK_TENQUYEN_QUYEN] UNIQUE NONCLUSTERED 
(
	[TENQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CHAMCONG_LICHLAMVIEC] FOREIGN KEY([IDLLV])
REFERENCES [dbo].[LICHLAMVIEC] ([ID])
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [FK_CHAMCONG_LICHLAMVIEC]
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_CHAMCONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [FK_CHAMCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_LICHLAMVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CT_LICHLAMVIEC_LICHLAMVIEC] FOREIGN KEY([IDLLV])
REFERENCES [dbo].[LICHLAMVIEC] ([ID])
GO
ALTER TABLE [dbo].[CT_LICHLAMVIEC] CHECK CONSTRAINT [FK_CT_LICHLAMVIEC_LICHLAMVIEC]
GO
ALTER TABLE [dbo].[CT_LICHLAMVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CT_LICHLAMVIEC_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CT_LICHLAMVIEC] CHECK CONSTRAINT [FK_CT_LICHLAMVIEC_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_LUONG]  WITH CHECK ADD  CONSTRAINT [FK_CT_LUONG_LUONG] FOREIGN KEY([BACLUONG])
REFERENCES [dbo].[LUONG] ([BACLUONG])
GO
ALTER TABLE [dbo].[CT_LUONG] CHECK CONSTRAINT [FK_CT_LUONG_LUONG]
GO
ALTER TABLE [dbo].[CT_LUONG]  WITH CHECK ADD  CONSTRAINT [FK_CT_LUONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CT_LUONG] CHECK CONSTRAINT [FK_CT_LUONG_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_TB]  WITH CHECK ADD  CONSTRAINT [FK_CT_TB_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CT_TB] CHECK CONSTRAINT [FK_CT_TB_NHANVIEN]
GO
ALTER TABLE [dbo].[CT_TB]  WITH CHECK ADD  CONSTRAINT [FK_CT_TB_THONGBAO] FOREIGN KEY([IDTB])
REFERENCES [dbo].[THONGBAO] ([ID])
GO
ALTER TABLE [dbo].[CT_TB] CHECK CONSTRAINT [FK_CT_TB_THONGBAO]
GO
ALTER TABLE [dbo].[CT_XUPHAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_XUPHAT_MUCDO] FOREIGN KEY([IDMD])
REFERENCES [dbo].[MUCDO] ([ID])
GO
ALTER TABLE [dbo].[CT_XUPHAT] CHECK CONSTRAINT [FK_CT_XUPHAT_MUCDO]
GO
ALTER TABLE [dbo].[CT_XUPHAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_XUPHAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CT_XUPHAT] CHECK CONSTRAINT [FK_CT_XUPHAT_NHANVIEN]
GO
ALTER TABLE [dbo].[HOPDONGLAODONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONGLAODONG_LUONG] FOREIGN KEY([BACLUONG])
REFERENCES [dbo].[LUONG] ([BACLUONG])
GO
ALTER TABLE [dbo].[HOPDONGLAODONG] CHECK CONSTRAINT [FK_HOPDONGLAODONG_LUONG]
GO
ALTER TABLE [dbo].[HOPDONGLAODONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONGLAODONG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOPDONGLAODONG] CHECK CONSTRAINT [FK_HOPDONGLAODONG_NHANVIEN]
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD  CONSTRAINT [FK_LICHLAMVIEC_NHANVIEN] FOREIGN KEY([MANQL])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[LICHLAMVIEC] CHECK CONSTRAINT [FK_LICHLAMVIEC_NHANVIEN]
GO
ALTER TABLE [dbo].[MUCDO]  WITH CHECK ADD  CONSTRAINT [FK_XUPHAT_QUYDINH] FOREIGN KEY([IDQD])
REFERENCES [dbo].[QUYDINH] ([ID])
GO
ALTER TABLE [dbo].[MUCDO] CHECK CONSTRAINT [FK_XUPHAT_QUYDINH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN1] FOREIGN KEY([MAPB])
REFERENCES [dbo].[PHONGBAN] ([MAPB])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN1]
GO
ALTER TABLE [dbo].[PHONGBAN]  WITH CHECK ADD  CONSTRAINT [FK_PHONGBAN_NHANVIEN] FOREIGN KEY([MANQL])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHONGBAN] CHECK CONSTRAINT [FK_PHONGBAN_NHANVIEN]
GO
ALTER TABLE [dbo].[QUYDINH]  WITH CHECK ADD  CONSTRAINT [FK_QUYDINH_NHANVIEN] FOREIGN KEY([MANQL])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[QUYDINH] CHECK CONSTRAINT [FK_QUYDINH_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_QUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_QUYEN]
GO
ALTER TABLE [dbo].[THONGBAO]  WITH CHECK ADD  CONSTRAINT [FK_THONGBAO_NHANVIEN] FOREIGN KEY([MANQL])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THONGBAO] CHECK CONSTRAINT [FK_THONGBAO_NHANVIEN]
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [CK_GIOVAO_GIORA] CHECK  (([GIOVAO]<=[GIORA]))
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [CK_GIOVAO_GIORA]
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [CK_NGAYCHAMCONG] CHECK  (([NGAYCHAMCONG]<=getdate()))
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [CK_NGAYCHAMCONG]
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD  CONSTRAINT [CK_TRANGTHAI_CC] CHECK  (([TRANGTHAI]=N'Đi trễ, Về sớm' OR [TRANGTHAI]=N'Không đi làm' OR [TRANGTHAI]=N'Về sớm' OR [TRANGTHAI]=N'Đi trễ' OR [TRANGTHAI]=N'Đúng giờ'))
GO
ALTER TABLE [dbo].[CHAMCONG] CHECK CONSTRAINT [CK_TRANGTHAI_CC]
GO
ALTER TABLE [dbo].[CT_LUONG]  WITH CHECK ADD  CONSTRAINT [CK_LUONGTHUCNHAN_CTLUONG] CHECK  (([LUONGTHUCNHAN]>(0)))
GO
ALTER TABLE [dbo].[CT_LUONG] CHECK CONSTRAINT [CK_LUONGTHUCNHAN_CTLUONG]
GO
ALTER TABLE [dbo].[CT_LUONG]  WITH CHECK ADD  CONSTRAINT [CK_NAM_CTLUONG] CHECK  (([NAM]>=(2018) AND [NAM]<=datepart(year,getdate()) AND (datepart(year,getdate())=[NAM] AND [THANG]<=datepart(month,getdate()))))
GO
ALTER TABLE [dbo].[CT_LUONG] CHECK CONSTRAINT [CK_NAM_CTLUONG]
GO
ALTER TABLE [dbo].[CT_LUONG]  WITH CHECK ADD  CONSTRAINT [CK_PHUCAP_CTLUONG] CHECK  (([PHUCAP]>=(0)))
GO
ALTER TABLE [dbo].[CT_LUONG] CHECK CONSTRAINT [CK_PHUCAP_CTLUONG]
GO
ALTER TABLE [dbo].[CT_LUONG]  WITH CHECK ADD  CONSTRAINT [CK_THANG_CTLUONG] CHECK  (([THANG]>=(1) AND [THANG]<=(12)))
GO
ALTER TABLE [dbo].[CT_LUONG] CHECK CONSTRAINT [CK_THANG_CTLUONG]
GO
ALTER TABLE [dbo].[CT_XUPHAT]  WITH CHECK ADD  CONSTRAINT [CK_THOIGIANXUPHAT_CTXP] CHECK  (([THOIGIANXUPHAT]<=getdate()))
GO
ALTER TABLE [dbo].[CT_XUPHAT] CHECK CONSTRAINT [CK_THOIGIANXUPHAT_CTXP]
GO
ALTER TABLE [dbo].[HOPDONGLAODONG]  WITH CHECK ADD  CONSTRAINT [CK_NBD_NKT_HDLD] CHECK  (([NGAYBATDAU]<=[NGAYKETTHUC]))
GO
ALTER TABLE [dbo].[HOPDONGLAODONG] CHECK CONSTRAINT [CK_NBD_NKT_HDLD]
GO
ALTER TABLE [dbo].[LICHLAMVIEC]  WITH CHECK ADD  CONSTRAINT [CK_GBD_GKT_LLV] CHECK  (([GIOBATDAU]<[GIOKETTHUC]))
GO
ALTER TABLE [dbo].[LICHLAMVIEC] CHECK CONSTRAINT [CK_GBD_GKT_LLV]
GO
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD  CONSTRAINT [CK_LUONGCOBAN_LUONG] CHECK  (([LUONGCOBAN]>(0)))
GO
ALTER TABLE [dbo].[LUONG] CHECK CONSTRAINT [CK_LUONGCOBAN_LUONG]
GO
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD  CONSTRAINT [CK_SOGIOCANLAM_LUONG] CHECK  (([SOGIOCANLAM]>(0)))
GO
ALTER TABLE [dbo].[LUONG] CHECK CONSTRAINT [CK_SOGIOCANLAM_LUONG]
GO
ALTER TABLE [dbo].[MUCDO]  WITH CHECK ADD  CONSTRAINT [CK_TENMD_MUCDO] CHECK  (([TENMUCDO]=N'Nặng' OR [TENMUCDO]=N'Trung bình' OR [TENMUCDO]=N'Nhẹ'))
GO
ALTER TABLE [dbo].[MUCDO] CHECK CONSTRAINT [CK_TENMD_MUCDO]
GO
ALTER TABLE [dbo].[MUCDO]  WITH CHECK ADD  CONSTRAINT [CK_TIENPHAT_MUCDO] CHECK  (([TIENPHAT]>=(0)))
GO
ALTER TABLE [dbo].[MUCDO] CHECK CONSTRAINT [CK_TIENPHAT_MUCDO]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_CMND_NV] CHECK  ((NOT [CMND] like '%[^0-9]%' AND (len([CMND])=(9) OR len([CMND])=(12))))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_CMND_NV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH_NV] CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_GIOITINH_NV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_NGAYSINH_NV] CHECK  ((datediff(day,[NGAYSINH],getdate())/(365)>=(18)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_NGAYSINH_NV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_SDT_NV] CHECK  ((len([SDT])=(10)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_SDT_NV]
GO
ALTER TABLE [dbo].[THONGBAO]  WITH CHECK ADD  CONSTRAINT [CK_NGAYTB_THONGBAO] CHECK  (([NGAYTB]<=getdate()))
GO
ALTER TABLE [dbo].[THONGBAO] CHECK CONSTRAINT [CK_NGAYTB_THONGBAO]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetFineOfEmployee_MONTH_YEAR]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetFineOfEmployee_MONTH_YEAR]
	@MANV NVARCHAR(20),
	@MONTH INT,
	@YEAR INT,
	@RESULT INT OUT
AS
BEGIN
	SELECT @RESULT = SUM(TIENPHAT)
	FROM (SELECT IDMD FROM CT_XUPHAT WHERE MANV = @MANV AND MONTH(THOIGIANXUPHAT) = @MONTH AND YEAR(THOIGIANXUPHAT) = @YEAR) CTXP
	INNER JOIN (SELECT ID, TIENPHAT FROM MUCDO) MD ON MD.ID = CTXP.IDMD
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInformationCaculateSalaryOfEmployee_MONTH_YEAR]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetInformationCaculateSalaryOfEmployee_MONTH_YEAR]
	@MANV NVARCHAR(20),
	@MONTH INT,
	@YEAR INT
AS
BEGIN
	DECLARE @LEVEL INT, @SALARY INT, @HOURS INT, @TOTAL_APOINTED_HOURS FLOAT, 
			@TOTAL_LATE_HOURS FLOAT, @TOTAL_SOON_HOURS FLOAT, @TOTAL_NO_WORKING_HOURS FLOAT

	EXEC SP_GetSalaryOfEmployee_MONTH_YEAR @MANV, @MONTH, @YEAR, @LEVEL OUT, @SALARY OUT, @HOURS OUT
	EXEC SP_GetTotalApointedHoursOfEmployee_MONTH_YEAR @MANV, @MONTH, @YEAR, @TOTAL_APOINTED_HOURS OUT
	EXEC SP_GetTotalLateHoursOfEmployee_MONTH_YEAR @MANV, @MONTH, @YEAR, @TOTAL_LATE_HOURS OUT
	EXEC SP_GetTotalSoonHoursOfEmployee_MONTH_YEAR @MANV, @MONTH, @YEAR, @TOTAL_SOON_HOURS OUT
	EXEC SP_GetTotalNoWorkingHoursOfEmployee_MONTH_YEAR @MANV, @MONTH, @YEAR, @TOTAL_NO_WORKING_HOURS OUT

	SELECT REGULATION_HOURS = ISNULL(@HOURS, 0), TOTAL_APOINTED_HOURS = ISNULL(ROUND(@TOTAL_APOINTED_HOURS, 2), 0), TOTAL_LATE_HOURS = ISNULL(ROUND(@TOTAL_LATE_HOURS, 2), 0), 
		TOTAL_SOON_HOURS = ISNULL(ROUND(@TOTAL_SOON_HOURS,2), 0), TOTAL_NO_WORKING_HOURS = ISNULL(ROUND(@TOTAL_NO_WORKING_HOURS, 2), 0)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetListPersonalPurnishOfEmployee]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetListPersonalPurnishOfEmployee] 
	@MANV NVARCHAR(20)
AS
BEGIN
	SELECT QD.TENQD, CTXP.THOIGIANXUPHAT, MD.TIENPHAT
	FROM (SELECT IDMD, THOIGIANXUPHAT FROM CT_XUPHAT WHERE MANV = @MANV) CTXP
	INNER JOIN (SELECT ID, IDQD, TIENPHAT FROM MUCDO) MD ON MD.ID = CTXP.IDMD
	INNER JOIN (SELECT ID, TENQD FROM QUYDINH) QD ON QD.ID = MD.IDQD
	ORDER BY CTXP.THOIGIANXUPHAT DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetListPersonalSalaryOfEmployee]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetListPersonalSalaryOfEmployee]
	@MANV NVARCHAR(20)
AS
BEGIN
	SELECT CTL.THANG, CTL.NAM, L.BACLUONG, L.LUONGCOBAN, CTL.PHUCAP, TIENPHAT = SUM(ISNULL(TIENPHAT, 0)),CTL.LUONGTHUCNHAN
	FROM (SELECT THANG, NAM, BACLUONG, PHUCAP, LUONGTHUCNHAN FROM CT_LUONG WHERE MANV = @MANV) CTL
	INNER JOIN (SELECT BACLUONG, LUONGCOBAN FROM LUONG) L ON CTL.BACLUONG = L.BACLUONG
	LEFT JOIN (SELECT IDMD, THOIGIANXUPHAT FROM CT_XUPHAT WHERE MANV = @MANV) CTXP ON MONTH(CTXP.THOIGIANXUPHAT) = CTL.THANG 
	AND YEAR(CTXP.THOIGIANXUPHAT) = CTL.NAM
	LEFT JOIN (SELECT ID, TIENPHAT FROM MUCDO) MD ON MD.ID = CTXP.IDMD
	GROUP BY CTL.THANG, CTL.NAM, L.BACLUONG, L.LUONGCOBAN, CTL.PHUCAP, CTL.LUONGTHUCNHAN
	ORDER BY CTL.THANG, CTL.NAM, L.BACLUONG DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetListPurnishOfEmployee]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetListPurnishOfEmployee]
	@MAPB NVARCHAR(20)
AS
BEGIN
	SELECT CTXP.MANV, NV.HO, NV.TEN, QD.TENQD, CTXP.THOIGIANXUPHAT, MD.TIENPHAT
	FROM 
	(SELECT MANV, HO, TEN FROM NHANVIEN WHERE MAPB = @MAPB) NV
	INNER JOIN (SELECT IDMD, MANV, THOIGIANXUPHAT FROM CT_XUPHAT) CTXP ON CTXP.MANV = NV.MANV
	INNER JOIN (SELECT ID, IDQD, TIENPHAT FROM MUCDO) MD ON MD.ID = CTXP.IDMD
	INNER JOIN (SELECT ID, TENQD FROM QUYDINH) QD ON QD.ID = MD.IDQD
	ORDER BY CTXP.THOIGIANXUPHAT DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetListSalaryOfEmployee]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetListSalaryOfEmployee]
	@MAPB NVARCHAR(20)
AS
BEGIN
	SELECT CTL.MANV, NV.HO, NV.TEN, CTL.THANG, CTL.NAM, L.BACLUONG, L.LUONGCOBAN, CTL.PHUCAP, TIENPHAT = SUM(ISNULL(TIENPHAT, 0)),CTL.LUONGTHUCNHAN
	FROM (SELECT MANV, HO, TEN FROM NHANVIEN WHERE MAPB = @MAPB) NV
	INNER JOIN (SELECT MANV, THANG, NAM, BACLUONG, PHUCAP, LUONGTHUCNHAN FROM CT_LUONG) CTL ON NV.MANV = CTL.MANV
	INNER JOIN (SELECT BACLUONG, LUONGCOBAN FROM LUONG) L ON CTL.BACLUONG = L.BACLUONG
	LEFT JOIN (SELECT IDMD, MANV, THOIGIANXUPHAT FROM CT_XUPHAT) CTXP ON CTXP.MANV = NV.MANV AND MONTH(CTXP.THOIGIANXUPHAT) = CTL.THANG AND YEAR(CTXP.THOIGIANXUPHAT) = CTL.NAM
	LEFT JOIN (SELECT ID, TIENPHAT FROM MUCDO) MD ON MD.ID = CTXP.IDMD
	GROUP BY CTL.MANV, NV.HO, NV.TEN, CTL.THANG, CTL.NAM, L.BACLUONG, L.LUONGCOBAN, CTL.PHUCAP, CTL.LUONGTHUCNHAN
	ORDER BY CTL.THANG, CTL.NAM, L.BACLUONG, CTL.MANV DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetNotificationsOfEmployee]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetNotificationsOfEmployee]
	@MANV NVARCHAR(20)
AS
BEGIN
	SELECT NGAYTB, NOIDUNG 
	FROM 
	(SELECT ID, NGAYTB, NOIDUNG FROM THONGBAO) TB
	INNER JOIN (SELECT IDTB FROM CT_TB WHERE MANV = @MANV) CTTB ON CTTB.IDTB = TB.ID
	ORDER BY NGAYTB DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSalaryOfEmployee_MONTH_YEAR]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetSalaryOfEmployee_MONTH_YEAR]
	@MANV NVARCHAR(20),
	@MONTH INT,
	@YEAR INT,
	@LEVEL INT OUT,
	@SALARY INT OUT,
	@HOURS INT OUT
AS
BEGIN
	SELECT @LEVEL = BACLUONG, @SALARY = LUONGCOBAN, @HOURS = SOGIOCANLAM
    FROM LUONG
    WHERE BACLUONG =
	(SELECT BACLUONG
        FROM (SELECT BACLUONG, MAX(NGAYKETTHUC) AS MaxNgayKetThuc
            FROM (SELECT BACLUONG, NGAYKETTHUC FROM HOPDONGLAODONG WHERE MANV = @MANV 
			AND DATEFROMPARTS(@YEAR, @MONTH, 1) BETWEEN NGAYBATDAU AND NGAYKETTHUC) HDLD
            GROUP BY BACLUONG) AS SUBQUERY)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTotalApointedHoursOfEmployee_MONTH_YEAR]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetTotalApointedHoursOfEmployee_MONTH_YEAR]
	@MANV NVARCHAR(20),
	@MONTH INT,
	@YEAR INT,
	@HOURS FLOAT OUT
AS
BEGIN
	SELECT @HOURS = SUM(DATEDIFF(second, LLV.GIOBATDAU, LLV.GIOKETTHUC) / 3600.0)
	FROM (SELECT ID, GIOBATDAU, GIOKETTHUC FROM LICHLAMVIEC WHERE YEAR(NGAYLAM) = @YEAR AND MONTH(NGAYLAM) = @MONTH) LLV
	INNER JOIN (SELECT IDLLV FROM CT_LICHLAMVIEC WHERE MANV = @MANV) CTLLV ON CTLLV.IDLLV = LLV.ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTotalLateHoursOfEmployee_MONTH_YEAR]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetTotalLateHoursOfEmployee_MONTH_YEAR]
	@MANV NVARCHAR(20),
	@MONTH INT,
	@YEAR INT,
	@HOURS FLOAT OUT
AS
BEGIN
	SELECT @HOURS = SUM(CASE WHEN DATEDIFF(SECOND, LLV.GIOBATDAU, CC.GIOVAO) > 0
                THEN DATEDIFF(SECOND, LLV.GIOBATDAU, CC.GIOVAO) / 3600.0
                ELSE 0
           END)
	FROM 
	(SELECT ID, GIOBATDAU, GIOKETTHUC FROM LICHLAMVIEC WHERE YEAR(NGAYLAM) = @YEAR AND MONTH(NGAYLAM) = @MONTH) LLV
	INNER JOIN (SELECT IDLLV FROM CT_LICHLAMVIEC WHERE MANV = @MANV) CTLLV ON CTLLV.IDLLV = LLV.ID
	INNER JOIN (SELECT IDLLV, GIOVAO FROM CHAMCONG WHERE TRANGTHAI != N'Không đi làm' AND MANV = @MANV AND GIORA IS NOT NULL) CC ON CC.IDLLV = LLV.ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTotalNoWorkingHoursOfEmployee_MONTH_YEAR]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetTotalNoWorkingHoursOfEmployee_MONTH_YEAR]
	@MANV NVARCHAR(20),
	@MONTH INT,
	@YEAR INT,
	@HOURS FLOAT OUT
AS
BEGIN
	SELECT @HOURS = SUM(DATEDIFF(SECOND, LLV.GIOBATDAU, LLV.GIOKETTHUC) / 3600.0)
	FROM 
	(SELECT ID, GIOBATDAU, GIOKETTHUC FROM LICHLAMVIEC WHERE YEAR(NGAYLAM) = @YEAR AND MONTH(NGAYLAM) = @MONTH) LLV
	INNER JOIN (SELECT IDLLV, MANV FROM CT_LICHLAMVIEC WHERE MANV = @MANV) CTLLV ON CTLLV.IDLLV = LLV.ID
	INNER JOIN (SELECT IDLLV, MANV FROM CHAMCONG WHERE TRANGTHAI = N'Không đi làm' AND MANV = @MANV) CC ON CC.IDLLV = LLV.ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTotalSoonHoursOfEmployee_MONTH_YEAR]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetTotalSoonHoursOfEmployee_MONTH_YEAR]
	@MANV NVARCHAR(20),
	@MONTH INT,
	@YEAR INT,
	@HOURS FLOAT OUT
AS
BEGIN
	SELECT @HOURS = SUM(CASE WHEN DATEDIFF(SECOND, CC.GIORA, LLV.GIOKETTHUC) > 0
                THEN DATEDIFF(SECOND, CC.GIORA, LLV.GIOKETTHUC) / 3600.0
                ELSE 0
           END)
	FROM 
	(SELECT ID, GIOBATDAU, GIOKETTHUC FROM LICHLAMVIEC WHERE YEAR(NGAYLAM) = @YEAR AND MONTH(NGAYLAM) = @MONTH) LLV
	INNER JOIN (SELECT IDLLV FROM CT_LICHLAMVIEC WHERE MANV = @MANV) CTLLV ON CTLLV.IDLLV = LLV.ID
	INNER JOIN (SELECT IDLLV, GIORA FROM CHAMCONG WHERE TRANGTHAI != N'Không đi làm' AND MANV = @MANV AND GIORA IS NOT NULL) CC ON CC.IDLLV = LLV.ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTotalWorkedHoursOfEmployee_MONTH_YEAR]    Script Date: 6/23/2023 3:06:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GetTotalWorkedHoursOfEmployee_MONTH_YEAR]
	@MANV NVARCHAR(20),
	@MONTH INT,
	@YEAR INT,
	@RESULT FLOAT OUT
AS
BEGIN
	DECLARE @TOTAL_APOINTED_HOURS FLOAT, @TOTAL_LATE_HOURS FLOAT, 
			@TOTAL_SOON_HOURS FLOAT, @TOTAL_NO_WORKING_HOURS FLOAT

	EXEC SP_GetTotalApointedHoursOfEmployee_MONTH_YEAR @MANV, @MONTH, @YEAR, @TOTAL_APOINTED_HOURS OUT
	EXEC SP_GetTotalLateHoursOfEmployee_MONTH_YEAR @MANV, @MONTH, @YEAR, @TOTAL_LATE_HOURS OUT
	EXEC SP_GetTotalSoonHoursOfEmployee_MONTH_YEAR @MANV, @MONTH, @YEAR, @TOTAL_SOON_HOURS OUT
	EXEC SP_GetTotalNoWorkingHoursOfEmployee_MONTH_YEAR @MANV, @MONTH, @YEAR, @TOTAL_NO_WORKING_HOURS OUT

	SELECT @RESULT = ROUND(@TOTAL_APOINTED_HOURS - @TOTAL_LATE_HOURS - @TOTAL_SOON_HOURS - @TOTAL_NO_WORKING_HOURS, 2)
END
GO
USE [master]
GO
